/*==============================================================================
********************     Fonts Family Styles For The Site   ********************
==============================================================================*/

/*--  Roboto Bold  --*/
@font-face {
    font-family:"boggle";
    src: url("../fonts/boggle/boggle.eot");
    src: url("../fonts/boggle/boggle.eot?#iefix") format("embedded-opentype"),
        url("../fonts/boggle/boggle.woff2") format("woff2"),
        url("../fonts/boggle/boggle.woff") format("woff"),
        url("../fonts/boggle/boggle.ttf") format("truetype"),
        url("../fonts/boggle/boggle.svg#boggle") format("svg"); 
}
/*==============================================================================
**************************     Common Styles For The Site      *****************
==============================================================================*/
body {
  font-family: "boggle", sans-serif !important;
  overflow-x: hidden;
}

body p {
  font-style: regular;
  font-weight: 300; /* You specify the number you see next to the fonts to change from light to bold ie you would put 700 etc. etc. */
}
* {
  outline: none !important;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
/*--  IE Specific Styles Starts  --*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    padding-right: 16px;
  }
}
/*--  IE Specific Styles Ends  --*/
.btn-grey {
  background-color: #f2f2f2;
}
.btn-red {
  background-color: #ff0033;
}
.text-red {
  color: #ff0033;
}
.text-error {
  color: #e4b6c0;
}
.text-light-blue {
  color: #cfe5f5;
}
.bg-blue {
  background-color: #021f47;
}
.perfect-scroll {
  position: relative;
  overflow: hidden;
  padding: 0 15px 0 0;
}
.ps-container > .ps-scrollbar-y-rail {
  width: 5px;
  right: 3px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 5px;
  right: 1px;
}
.ButtonAppBar-button-5 {
  text-decoration: none;
}
.App .MainAppBarHeader-headerTitle-124 {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}
.App .MainAppBarHeader-headerTitle-124 h1 {
  margin: 0;
}
.App .MainAppBarHeader-dashboard-125 {
  font-size: 14px;
}
.App .MediaCard-cover-290 {
  background-size: contain;
}
.App .first-list {
  border-bottom: 1px solid #ddd;
}
.App .MuiListItem-gutters-308 {
  padding-left: 0;
}
.App .MediaCard-card-285 {
  height: 100%;
}
.App .MediaCard-details-287 {
  width: 100%;
}
/*==============================================================================
**********************        Header Styles For The Site    ********************
==============================================================================*/
/*--  Navigation Wrapper Styles  --*/
.header-wrapper {
  padding: 0;
}
.header-wrapper .navbar-default {
  background-color: #071e3f;
  border: 0;
  border-radius: 0;
  margin: 0;
}
.header-wrapper .navbar-default .navbar-nav {
  margin: 15px 0;
}
.header-wrapper .navbar-default .navbar-nav li a {
  font-size: 14px;
  color: #fff;
  padding: 0 9px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-wrapper .navbar-default .navbar-nav li a:hover {
  color: #fff;
}
.header-wrapper .navbar-default .navbar-nav li.active a {
  background: transparent;
  color: #fff;
}
.header-wrapper .navbar-default .navbar-form {
  width: 285px;
  padding: 0;
  margin: 10px 0px;
}
.header-wrapper .navbar-default .navbar-form .input-group {
  position: relative;
  width: 100%;
}

/*==============================================================================
**********************      Panel Wrapper Styles For The Site   ***************
==============================================================================*/
.custom-panel {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.custom-panel.panel-default > .panel-heading {
  color: #333;
  background-color: transparent;
  border-color: transparent;
  font-size: 21px;
  font-weight: bold;
  position: relative;
}
.custom-panel.panel-default > .panel-heading a {
  color: blue;
  position: absolute;
  right: 15px;
  top: 10px;
}
.custom-panel .panel-info > .panel-heading {
  color: #31708f;
  background-color: #e1edf9;
  border-color: #bce8f1;
}
.custom-panel .panel-body {
  padding: 50px 30px;
}
.custom-panel .panel-body ul:first-of-type {
  border-bottom: 1px solid #ddd;
}
.custom-panel .panel-body ul li {
  margin: 0 0 20px;
  position: relative;
  padding: 0 100px 0 0;
}
.custom-panel .panel-body ul li span {
  padding: 0 0 0 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.custom-panel .panel-body ul li span::before {
  position: absolute;
  content: ":";
  top: 0;
  left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.custom-panel .panel-body ul:last-of-type li:last-of-type {
  margin: 0;
}
.main-wrapper .btn-submit {
  background-color: #041f41 !important;
  color: #fff !important;
  min-width: 200px;
  border-radius: 100px;
  height: 46px;
  text-transform: capitalize;
  font-size: 18px;
  float: none;
  display: flex;
  font-weight: bold;
  margin: auto;
}
.main-wrapper .divider-hr {
  width: 100%;
}
/*==============================================================================
**********************      Footer Wrapper Styles For The Site   ***************
==============================================================================*/
#footer-wrapper {
  margin: 50px 0 0;
  margin-top: 86px;
}
#footer-wrapper .MuiButton-root-97:hover {
  background-color: transparent !important;
}
#footer-wrapper .MuiTouchRipple-root-64 {
  display: none;
}
#footer-wrapper p {
  margin: 0;
}
#footer-wrapper ul {
  margin: 0;
}
/*==============================================================================
******************      Media Styles For The Site          *********************
==============================================================================*/

@media (min-width: 1200px) and (max-width: 1299px) {
}
@media (min-width: 1280px) and (max-width: 1920px) {
}

@media (min-width: 960px) and (max-width: 1279px) {
}

@media (min-width: 600px) and (max-width: 959px) {
  .App .MainAppBarHeader-headerTitle-124 {
    font-size: 21px;
    line-height: 36px;
  }
  .App .MainAppBarHeader-headerTitle-124 h1 {
    margin: 0;
  }
  .App .MainAppBarHeader-dashboard-125 {
    font-size: 12px;
  }
  .App .MainAppBar-headerTitle-286 {
    font-size: 21px;
    line-height: 36px;
  }
  #footer-wrapper {
    margin: 25px 0 0;
  }
  #footer-wrapper .MainAppBar-headerTitle-320 {
    font-size: 21px;
  }
}
@media (min-width: 0px) and (max-width: 599px) {
  .App .MainAppBarHeader-headerTitle-124 h1 {
    margin: 0;
  }
  .App .MainAppBarHeader-dashboard-125 {
    font-size: 10px;
    padding: 0 5px;
  }
  .App .MainAppBar-headerTitle-286 {
    font-size: 18px;
    line-height: 36px;
  }
  #footer-wrapper {
    margin: 25px 0 0;
  }
  #footer-wrapper .MainAppBar-headerTitle-320 {
    font-size: 18px;
  }
}
