.dialog-footer {
    margin-bottom: 25px !important;
}
.dialog-submit {
    border-radius: 100px  !important;
    background-color: #041f41 !important;
    color: #fff !important;
    font-weight: bold;
}

.dialog-cancel {
    border-radius: 100px  !important;
    border: solid 1px #ee3b2a !important;
    color: #ee3b2a !important;
}
