.divider-hr {
    width: 910px;
    height: 3px;
    background-color: #041f41;
    margin: 51px 0 41px 0; 
  }

  .astrick {
      color:rgba(0, 0, 0, 0.54);
  }

  .astrick-r {
      color: red;
  }

  .textLabelClass label{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
  }

  .textLabelClass input {
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }

  .textLabelClass select {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.07;
  }

  