.commonClass {
    font-family: Bogle !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

 
  .textLabelClass input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Bogle;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  .textLabelClass input::-moz-placeholder { /* Firefox 19+ */
    font-family: Bogle;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  .textLabelClass input:-ms-input-placeholder { /* IE 10+ */
    font-family: Bogle;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #9b9b9b;
  }
  .textLabelClass input:-moz-placeholder { /* Firefox 18- */
    font-family: Bogle;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: #9b9b9b;
  }
